@import "components/preload";
@import "node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "node_modules/bourbon-neat/core/_neat.scss";
@import "~material-design-lite/src/material-design-lite";
@import "components/main";
@import "components/grid";
@import "components/header";
@import "components/grid_type";
@import "components/detail_type";
@import "components/detail";
@import "components/animate";
@import "components/upload";

.view {}

/* Operational Classes */

@-webkit-keyframes scaleUpPage {
    from {
        //opacity: 0;
        -webkit-transform: scale(0.8);
    }
}

@keyframes scaleUpPage {
    from {
        //opacity: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@-webkit-keyframes scaleUpDelayPage {
    from {
        opacity: 0;
        -webkit-animation-delay: 0.7s;
        -webkit-transform: scale(1.2);
    }
}

@keyframes scaleUpDelayPage {
    from {
        opacity: 0;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.hidden {
    visibility: hidden;
}

.down-arrow {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 20px 0 0 0;
}


.scaleDownUp-enter {
    opacity: 0;
}

.scaleDownUp-enter-active {
    transition: opacity 0.5s ease;
    animation: scaleUpDelayPage 0.5s ease;
}

.scaleDownUp-enter-to {
    opacity: 1;

    //-webkit-animation: scaleUp 0.5s ease both;
    //animation: scaleUp 0.5s ease both;
}

.scaleDownUp-leave {
    //-webkit-animation: scaleUp 0.5s ease both;
    //animation: scaleUp 0.5s ease both;
    opacity: 1;
}

.scaleDownUp-leave-active {
    transition: opacity 0.5s ease;
    -webkit-animation: scaleUpPage 0.5s ease;
    animation: scaleUpPage 0.5s ease;
}

.scaleDownUp-leave-to {
    opacity: 0;
}



.slide-left-enter {}

.slide-left-enter-active {

    -webkit-animation: moveToRight .6s ease both;
    animation: moveToRight .6s ease both;
}

.slide-left-enter-to {


    //-webkit-animation: scaleUp 0.5s ease both;
    //animation: scaleUp 0.5s ease both;
}

.slide-left-leave {
    //-webkit-animation: scaleUp 0.5s ease both;
    //animation: scaleUp 0.5s ease both;
}

.slide-left-leave-active {

    -webkit-animation: moveToRight .6s ease both;
    animation: moveToRight .6s ease both;
}

.slide-left-leave-to {}



.slide-right-enter {
    opacity: 0;
}

.slide-right-enter-active {
    transition: opacity 0.5s ease;
    -webkit-animation: moveToLeft .6s ease both;
    animation: moveToLeft .6s ease both;
}

.slide-right-enter-to {
    opacity: 1;

    //-webkit-animation: scaleUp 0.5s ease both;
    //animation: scaleUp 0.5s ease both;
}

.slide-right-leave {
    //-webkit-animation: scaleUp 0.5s ease both;
    //animation: scaleUp 0.5s ease both;
    opacity: 1;
}

.slide-right-leave-active {
    transition: opacity 0.5s ease;
    -webkit-animation: moveToLeft .6s ease both;
    animation: moveToLeft .6s ease both;
}

.slide-right-leave-to {
    opacity: 0;
}