/* Detail scss */

$project-background-color: rgba(255, 255, 255, 0.85);

// Three column Grid full width
$three-column-full-width-grid: (columns: 3, gutter: 0, ltr: none);

$three-column-full-width-grid-phone: (columns: 1, gutter: 0, ltr: none, media: "(max-width: 414px)");

$three-column-full-width-grid-tablet: (columns: 1, gutter: 0, ltr: left, media: "(max-width: 1024px)");

// Four column Grid full width
$four-column-full-width-grid: (columns: 4, gutter: 0, ltr: none);

$four-column-full-width-grid-phone: (columns: 1, gutter: 0, ltr: none, media: "(max-width: 414px)");

$four-column-full-width-grid-smaller-phone: (columns: 1, gutter: 0, ltr: none, media: "(max-width: 320px)");

//$four-column-full-width-grid-tablet: (columns: 3, gutter: 0, ltr: none, media: "(max-width: 768px)");

//$four-column-full-width-grid-tablet: (columns: 3, gutter: 0, ltr: none, media: "(max-width: 1024px)");

$alert-grid: (columns: 12, gutter: 0, ltr: none);

$alert-grid-phone: (columns: 1, gutter: 0, ltr: none, media: "(max-width: 414px)");

/* Detail View */

.articleContWrap {
    position: relative;
    width: 100vw;
    height: 100vh;

    #articleContA,
    #articleContB {
        /* position: absolute; */

        article {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            .not-found {

                overflow: auto;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 1;
                width: 75%;
                height: 50%;
                text-align: center;

                h3 {

                }
            }
        }
    }

    .page-visible {
        visibility: visible;
    }

    .page-hidden {
        visibility: hidden;
        z-index: -9999;
    }
}

/* Alert Container */

.alert-container {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;


    @include grid-media($three-column-full-width-grid-tablet) {
        width: 75%;
        float: left;
    }


    @include grid-media($three-column-full-width-grid-phone) {
        width: 100vw;
        float: none;
    }



    .alert-content-container {
        /* padding: 25px 35px; */
        padding: 15px 20px;
        position: relative;

        @include grid-container;

        .alert-content {
            @include grid-column(11, $alert-grid);

            @include grid-media($alert-grid-phone) {
                @include grid-column(1);
            }
        }

        .desktop-alert {
            text-align: right;
            text-decoration: underline;

            @include grid-column(1, $alert-grid);

            @include grid-media($alert-grid-phone) {
                display: none;
            }
        }

        .mobile-alert {
            text-align: right;
            text-decoration: underline;
            margin-top: 10px;

            @include grid-column(1, $alert-grid);

            @include grid-media($alert-grid-phone) {
                @include grid-column(1);
            }


            span {
                display: none;

                @include grid-media($alert-grid-phone) {
                    display: block;
                }


                height: 2px;
                background: #fff;
                width: 25px;
                margin: 0 auto;
                margin-bottom: 2px;
                opacity: 0.5;
            }
        }

        *,
        a,
        p {
            color: #fff;
        }

        /*
                .alert-content {
                    width:80%;
                    display: inline-block;
                }
        */
        #dismiss {
            text-align: right;
            text-decoration: underline;
        }
    }
}

.upper-info-container {
    @include grid-media($three-column-full-width-grid-tablet) {
        margin-top: 5rem;
    }


    @include grid-media($three-column-full-width-grid-phone) {
        margin-top: 0;
    }


    @include grid-container;

    .col-3 {
        padding: 25px 35px;

        @include grid-column(1, $three-column-full-width-grid);

        @include grid-media($three-column-full-width-grid-tablet) {
            width: 75%;
            float: left;
        }


        @include grid-media($three-column-full-width-grid-phone) {
            @include grid-column(1);
        }
    }

    .col-4 {
        /* padding: 25px 35px; */
        padding: 15px 20px;
  
        @include grid-column(1, $four-column-full-width-grid);

        @include grid-media($four-column-full-width-grid-tablet) {
            width: 75%;
            float: left;
        }

        @include grid-media($four-column-full-width-grid-phone) {
            @include grid-column(1);
        }
    }

    .project-info-container {
        background-color: $project-background-color;
        min-height: 192.19px;

        //border-bottom: solid 1px #333333;
        @include grid-media($four-column-full-width-grid-tablet) {
            border-bottom: solid 1px #333333;
        }
    }

    .project-details-container {
        background-color: $project-background-color;
        border-left: solid 1px #333333;
        min-height: 192.19px;

        //border-bottom: solid 1px #333333;
        @include grid-media($four-column-full-width-grid-phone) {
            border-bottom: solid 1px #333333;
        }


        #project-catergory-icons {
            @include grid-container;

            div {
                @include grid-column(1, $three-column-full-width-grid);

                text-align: center;

                img {
                    margin-bottom: 1px;
                }
            }
        }

        #project-lead {
            text-align: center;
        }

        #project-team {
            margin-top: 20px;

            span {
                text-align: center;
                display: block;
            }

            ul {
                list-style-type: none;
                margin: 0 auto;
                padding: 0;

                li {
                    text-align: center;
                }
            }
        }
    }

    .main-d3-container {
        @include grid-container;
    }

    .progress-info-container {
        background-color: $project-background-color;
        border-left: solid 1px #333333;
        height: 192.19px;

        @include grid-media($four-column-full-width-grid-tablet) {
            border-bottom: solid 1px #333333;
        }


        .progress-container-d3 {



            div {
                width: 125px;
                height: 125px;
                margin: 0 auto;

                @include grid-media($four-column-full-width-grid-phone) {
                    /* 
                    width: 100%;
                    height: 100%;
                    */
                }
            }

            margin: 0 auto;
        }

        .progress-container-content {
            position: relative;
            height: 90px;

            @include grid-column(2, $four-column-full-width-grid);

            @include grid-media($four-column-full-width-grid-tablet) {
                //@include grid-column(2);
            }


            //@include grid-media($four-column-full-width-grid-phone) {
            //    width: calc(60% - 1.5rem);
            //}

            @include grid-media($four-column-full-width-grid-smaller-phone) {
                width: calc(50% - 1.5rem);
            }


            .progress-inner-wrapper {
                position: absolute;
                bottom: 0;

                @include grid-media($four-column-full-width-grid-tablet) {
                    position: inherit;
                }


                @include grid-media($four-column-full-width-grid-phone) {
                    position: absolute;
                }


                .start-date,
                .launch-date,
                .project-status {
                    margin-bottom: -10px;
                    display: block;
                    font-size: 14px;

                    @include grid-media($four-column-full-width-grid-phone) {
                        //font-size: 12px;
                    }
                }
            }
        }

        @include grid-media($three-column-full-width-grid-tablet) {
            border-left: none;
            border-right: none;
            height: inherit;
        }
    }
}

.text-overflow-container {
    transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.container-background-image {
    //background-image: url(../images/key_art_PST_LALA@2x.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#detail-pager {
    position: fixed;
    top: 50vh;
    right: 35px;
    width: 100px;
    z-index: 1;

    @include grid-media($three-column-full-width-grid-phone) {
        display: none;
    }


    #detail-pager-prev {
        display: block;
        overflow: hidden;
        width: 50px;
        height: 55px;
        position: absolute;
        z-index: 9999;
    }

    #detail-pager-next {
        display: block;
        overflow: hidden;
        width: 50px;
        height: 55px;
        position: absolute;
        right: 0;
        z-index: 9999;
    }
}

#detail-full-screen {
    display: block;
    position: fixed;
    bottom: 65px;
    right: 35px;
}

.lower-info-container {
    // width: 33.33333%;
    width: 50%;
    float: left;
    margin-top: 0;
    background-color: $project-background-color;

    .hide {
        //display: none;
        //height:0;
   
    }

    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;

        li:nth-child(1) {
            a {
                border-top: none;
            }
        }

        li {
            margin-top: -1px;
            overflow: hidden;

            a {
                padding-left: 25px;
                margin-right: 23px;
                display: block;
                /* padding: 9px 20px; */
                padding: 9px 15px;
                border-bottom: #333 solid 1px;
                border-top: #333 solid 1px;
                margin-bottom: -1px;

                @include grid-media($four-column-full-width-grid-phone) {
                    margin-right: 0;
                }


                img {
                    float: right;
                    padding: 7px 0;
                }

                span {
                    font-size: 17px;
                    vertical-align: top;

                    img {
                        margin-right: 25px;
                    }
                }
            }

            .lower-content-container {
                overflow: hidden;
                transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
                height: auto;
                max-height: 0;

                .pad-wrap {
                    padding: 20px 23px 20px 25px;
                }

                a {
                    border: none;
                    padding-left: 0;
                }
            }

            .slide-out {
                transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
            }
        }
    }

    @include grid-media($three-column-full-width-grid-tablet) {
        width: 75%;
        float: left;
    }


    @include grid-media($four-column-full-width-grid-phone) {
        @include grid-column(1);

        margin-top: 0;
    }
}