/* Grid Type System scss */

/* Type System for Cards Containers */

section.grid-container {
    $base-border-radius: 3px !default;
    $base-line-height: 1.5em !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $blue: #3E76A7 !default;
    $medium-screen: 40em !default;
    $base-font-color: $dark-gray !default;
    $sans-serif: "museo-sans", "Helvetica Neue", sans-serif;

    @include clearfix;

    font-family: $sans-serif;
    text-align: left;

    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0;
    }

    hr {
        border-bottom: 1px solid $light-gray;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        margin: $base-spacing 0;
    }

    p {
        color: $base-font-color;
        line-height: $base-line-height;

        //min-height: 42px;
   
    }

    a {
        color: $dark-gray;
        text-decoration: none;
    }

    a:hover {
        color: $dark-gray;
        text-decoration: underline;
    }

    a:active {
        color: $blue;
        text-decoration: none;
    }

    .type {
        border-bottom: 1px solid;
        display: inline-block;
        font-family: $sans-serif;
        font-size: 0.7em;
        font-weight: 800;
        margin-bottom: 2em;
        padding: 0.3em 0;
        text-align: left;
        text-transform: uppercase;
    }

    h1 {
        font-family: $sans-serif;
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 0.5em;

        @include grid-media($tablet-view) {
            font-size: 2.6em;
        }
    }

    h2 {
        font-family: $sans-serif;
        font-size: 1.2em;
        font-style: italic;
        font-weight: 400;
        line-height: 1.4em;
        margin-bottom: 1.1em;

        @include grid-media($tablet-view) {
            font-size: 1.3em;
        }
    }

    code {
        background: #F7F7F7;
        border-radius: $base-border-radius * 1.5;
        border: 1px solid #E0E0E0;
        font-size: 0.7em;
        font-style: normal;
        padding: 0.1em 0.4em;
        white-space: nowrap;
    }

    h3 {
        font-family: $sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.3em;
        margin-bottom: 0.4em;
    }

    h3.lrg-btm-margin {
        font-family: $sans-serif;
        font-size: 23px;
        font-weight: 400;
        line-height: 1.3em;

        /* margin-bottom: 2rem; */
    }

    h4 {
        font-family: $sans-serif;
        color: transparentize($base-font-color, 0.6);
        font-size: 1.1em;
        font-weight: 200;
        line-height: 1em;
        margin-bottom: 0.4em;
    }

    p.date {
        color: transparentize($base-font-color, 0.6);
        font-family: $sans-serif;
        font-size: 0.9em;
        font-style: italic;
        margin-bottom: 0.3em;
    }

    p {
        font-family: $sans-serif;
        font-size: 15px;
        line-height: 1.5em;
        margin-bottom: 1.5em;
        color: $dark-gray;
        font-weight: 300;
    }

    a.read-more {
        display: inline-block;
        font-family: $sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        margin-left: 0.2em;
        position: relative;
        text-transform: uppercase;

        span {
            font-family: $sans-serif;
            font-size: 1.5em;
            font-style: normal;
            position: absolute;
            right: -12px;
            top: -1px;
        }
    }

    hr {
        width: 3em;
    }

    p.author {
        font-family: $sans-serif;
    }

    .card-content {
        a {
            height: 58px;
            display: block;
            margin-bottom: 0.5em;
        }

        .height-wrap {
            height: 42px;
            margin-bottom: 1.5em;
        }
    }

    /*

    .ellipsis-d {
        overflow: hidden;
        height: 48px;

        //line-height: 25px;
   
    }

    .ellipsis-d:before {
        content: "";
        float: left;
        width: 5px;
        height: 62px;
    }

    .ellipsis-d > *:first-child {
        float: right;
        width: 100%;
        margin-left: -9px;
    }

    .ellipsis-d:after {
        content: "\02026";
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        float: right;
        position: relative;
        top: -38px;
        left: 99%;
        width: 3em;
        margin-left: -3em;
        padding-right: 5px;
        text-align: right;
    }

    .ellipsis-t {
        overflow: hidden;
        height: 61px;
        //line-height: 25px;
    }

    .ellipsis-t:before {
        content: "";
        float: left;
        width: 5px;
        height: 70px;
    }

    .ellipsis-t > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px;
    }

    .ellipsis-t:after {
        content: "\02026";
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        float: right;
        position: relative;
        top: -33px;
        left: 100%;
        width: 3em;
        margin-left: -3em;
        padding-right: 5px;
        text-align: right;
    }
    */
}

/* Type System for Cards Containers */