/* Header scss */

$header-background-color: #FFFFFF;

$shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.01),
0 0 0 1px rgba(0, 0, 0, 0.08);

$card-background-color: #FFFFFF !default;

$menu-background-color: #9B9B9B !default;

$progress-background-color: #333 !default;

$card-main-background-color: #dfdfdf !default;

$card-grid: (columns: 4, gutter: 1rem);

$tablet-view: (columns: 1, gutter: 1rem, media: "(max-width: 768px)");

$phone-view: (columns: 1, gutter: 1rem, media: "(max-width: 414px)");

.header-container {
  height: 50px;
  background-color: $header-background-color;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: $shadow;
  border-bottom: 7px solid #bbdfe1;

  ul {
    list-style-type: none;
  }

  .logo {
    position: absolute;
    width: 30px;
    top: 6px;
    left: 1rem;
  }

  .nav-container {

    /*
        position: absolute;
        width: 29px;
        height: 20px;
        top: 27px;
        right: 25px;
        */
    nav {
      display: block;
      position: absolute;
      top: 6px;
      right: 16px;

      .mdl-badge[data-badge]:after {
        top: -4px;
        width: 20px;
        height: 20px;
      }

      a:nth-child(1) {
        /* padding: 0 40px; */
        img {
          width: 30px;
        }
      }

      a.bell {
        img {
          width: 20px;
          top: 3px;
          right: -1px;
          position: absolute;
        }
      }

      @include grid-media($tablet-view) {
        display: none;
      }
    }

    .nav {
      display: none;
      position: absolute;
      width: 29px;
      height: 16px;
      top: 17px;
      right: 16px;

      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background: $menu-background-color;
        transition: transform .25s;
      }

      span:nth-child(2) {
        top: 7px;
      }

      span:nth-child(1) {
        top: 0;
      }

      span:nth-child(3) {
        bottom: 0;
      }

      @include grid-media($tablet-view) {
        display: block;
      }
    }

    .mdl-badge--overlap {
      right: 7px;
    }
  }

  /*
        .nav {
            position: relative;
            padding-left: 1.25em;
        }
    */
  .title-container {
    margin: 0 auto;
    text-align: center;

    @include grid-media($phone-view) {
      padding: 0;
      display: flex;
      justify-content: center;
      height: 45px;
      width: 158px;
    }

    p {
      font-size: 17px;
      margin: 0 auto;
      padding-top: 0;
      height: 45px;
      display: flex;
      flex-direction: column;
      vertical-align: text-bottom;
      justify-content: center;

      @include grid-media($tablet-view) {
        font-size: 15px;
        line-height: 32px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        vertical-align: text-bottom;
        justify-content: center;
      }

      @include grid-media($phone-view) {
        font-size: 12px;
        line-height: 17px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        vertical-align: text-bottom;
        justify-content: center;
      }
    }

    .mobile-prev-next {
      display: none;

      @include grid-media($phone-view) {
        display: flex;
        flex-direction: column;

        /* padding: 0 12px; */
        vertical-align: text-bottom;
        width: 10px;
        height: 45px;
        justify-content: center;

        img {
          width: 8px;
        }
      }
    }

    #mobile-prev {}

    #mobile-next {}
  }

  .trapezoid-container {
    position: relative;
    margin: 0 auto;
    width: 188px;
    margin-top: -2px;
  }

  .trapezoid-container div {
    float: left;
    box-shadow: 0px 2px 1px -2px rgba(0, 0, 0, 0.3);

    /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.16); */
  }

  .trapezoid-container::after {
    clear: both;
    content: "";
    display: block;
  }

  .trapezoid-c {
    width: 142px;
    padding: 3px;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    right: 23px;
    font-size: 11px;
    text-align: center;
    top: 0.9px;
  }

  .trapezoid-r {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.25em 1.25em 1.25em;
    border-color: transparent transparent #fff transparent;
    transform: rotate(-45deg);
    position: absolute;
    right: 0;

    /*
        top: -0.2em;
        */
  }

  .trapezoid-l {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.25em 1.25em 1.25em;
    border-color: transparent transparent #fff transparent;
    transform: rotate(45deg);
    position: absolute;

    /*
        right: 11em;
        top: -0.2em;
        */
  }
}

#notification-menu {
  background-color: $header-background-color;
  position: absolute;
  right: 0;
  top: -1000px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: top 5s cubic-bezier(0, 1, 0.5, 1);
  z-index: 1;

  @include grid-media($phone-view) {
    width: 100%;
  }


  #nav-bookmark-header {
    display: none;
    padding: 10px 0;
    border-bottom: 1px #eee solid;
    margin: 0 15px;
    font-size: 13px;

    @include grid-media($tablet-view) {
      display: block;
    }


    img {
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
    }

    span {}
  }

  #nav-alert-header {
    display: block;
    padding: 10px 0;

    //border-bottom: 1px #eee solid;
    margin: 0 15px;
    font-size: 13px;

    @include grid-media($tablet-view) {
      display: block;
    }


    img {
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
    }

    span {}
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 300px;

    @include grid-media($phone-view) {
      width: 100%;
    }


    li {
      a.notification-menu-link {
        padding: 10px 0;
        display: block;
        border-bottom: 1px #eee solid;
        margin: 0 15px;
        font-size: 13px;

        span.notification-flag {
          font-size: 9px;
          color: #fff;
          vertical-align: middle;
          text-transform: uppercase;
          width: 60px;
          line-height: 19px;
          display: inline-block;
          text-align: center;
          margin-right: 10px;
        }

        span.flag-new {
          background-color: #7E0097;
        }

        span.flag-updated {
          background-color: #EF9611;
        }

        span.flag-launched {
          background-color: #5DA60D;
        }

        span.notification-project-title {}
      }
    }
  }
}

#notification-menu.active {
  transition: top 0.5s cubic-bezier(0, 1, 0.5, 1);
  top: 50px;
}
