/* Main Container scss */

/*

These colors get stripped out of material design when loaded from npm install

Add this block to _variables.scss - will make a patch and add it to package.json

@if $styleguide-generate-template == true {
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-red-500 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
}

/* Operational Classes */

.hidden {
    visibility: hidden;
}

.down-arrow {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 20px 0 0 0;
}

/* Operational Classes */

$card-main-background-color: #EEE;

$card-background-color: #FFFFFF;

$progress-background-color: #333 !default;

$header-background-color: #FFFFFF;

$project-background-color: rgba(255, 255, 255, 0.85);

/* Colors */

/* Grid Control */

$card-grid: (columns: 4, gutter: 1rem);

$tablet-view: (columns: 1, gutter: 1rem, media: "(max-width: 768px)");

$phone-view: (columns: 1, gutter: 1rem, media: "(max-width: 414px)");

$update-grid: (columns: 4, gutter: 0, ltr: none);

// Two column Grid 1rem spacing
$two-column-1rem-grid: (columns: 2, gutter: 1rem, ltr: none);

$two-column-1rem-grid-phone: (columns: 1, gutter: 0, ltr: none, media: "(max-width: 414px)");

// Three column Grid full width
$three-column-full-width-grid: (columns: 3, gutter: 0, ltr: none);

$three-column-full-width-grid-phone: (columns: 1, gutter: 0, ltr: none, media: "(max-width: 414px)");

$three-column-full-width-grid-tablet: (columns: 1, gutter: 0, ltr: left, media: "(max-width: 1024px)");

// Four column Grid full width
$four-column-full-width-grid: (columns: 4, gutter: 1rem, ltr: none);

$four-column-full-width-grid-phone: (columns: 1, gutter: 0, ltr: none, media: "(max-width: 414px)");

$four-column-full-width-grid-tablet: (columns: 3, gutter: 1rem, ltr: none, media: "(max-width: 768px)");

$four-column-full-width-grid-tablet: (columns: 3, gutter: 1rem, ltr: none, media: "(max-width: 1024px)");

//$two-column-1rem-grid-tablet: (columns: 1, gutter: 0, ltr: none, media: "(max-width: 768px)");

/* Grid Control */

/* Variables */

$shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.01), 0 0 0 1px rgba(0, 0, 0, 0.08);

/* Variables */

/* Higher Order DOM Elements and Classes */

html {
    background-color: $card-main-background-color;
    overflow-x: hidden;
}

body {
    //display: block !important;
}

* {
    font-family: "museo-sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

.grid-article-container {
    height: 100vh;
    padding: 65px 0;
    overflow-y: scroll;

    @media (min-width: 1440px) {
        padding: 65px 9%;
        //padding: 65px 75px;
        margin-right: -17px;
    }
}

.detail-article-container {
    margin-top: 50px;
    position: relative;
    height: 100vh;
    width: 100vw;
    //padding-bottom: 40vh;
    overflow-y: scroll;
}

.pad-btm {
    height: 40vh;
    width: 100%;
    position: relative;
    float: left;
}

.alert-true {
    margin-top: 128px;
}

.container {
    margin-right: auto;
    margin-left: auto;

    /* max-width: 88rem; */
    position: relative;
}

.inner-container {
    @include grid-container;
}

#detail-view,
#grid-view {
    background-size: cover;
    background-position: center center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
    overflow: hidden;
    display: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#detail-view.pt-page-current,
#grid-view.pt-page-current {
    display: block;
    visibility: visible;
    z-index: 1;
}