$four-grid: (columns: 4, gutter: 1rem);

$one-grid: (columns: 1, gutter: 1rem);

$tablet-view: (columns: 2, gutter: 1rem, media: "(max-width: 1024px)");

$phone-view: (columns: 1, gutter: 1rem, media: "(max-width: 414px)");

.container-upload {
    @include grid-container;

    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .twelve {
        @include grid-column(1, $one-grid);


        margin-bottom: 2rem;

        img {
            width: 100%;
            vertical-align: middle;
            padding: 0;
            margin: 1rem 0;
        }
    }

    .four {
        @include grid-column(1, $four-grid);

        @include grid-media($tablet-view) {
            @include grid-column(1);
        }


        @include grid-media($phone-view) {
            @include grid-column(1);
        }


        margin-bottom: 1rem;

        .i-wrap {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 56%;
        }

        p {
            font-size: 10px;
        }
    }
}