<template>
<div class="alert-container detail" v-if="value.acf.alert"> 
	<div class="alert-content-container"> 
		<div class="alert-content">
			<h3>Important Note:</h3>
			{{value.acf.alert}}
		</div>
			<!--
			<a id="dismiss-0" class="desktop-alert" title="The Getty" alt="The Getty" href="#">Dismiss</a> 
			<a id="dismiss-bars-0" class="animated mobile-alert" title="The Getty" alt="The Getty" href="#" style="touch-action: none; -moz-user-select: none;"> 
				<span></span>
				<span></span> 
			</a> 
		-->
		</div>
</div>	
</template>

<script>
export default {
  name: 'Alert',
  data () {
    return {}
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    }
  },
  methods: {},
  mounted () {
    // console.log(this.$refs.mySwiper)
  }
}
</script>

<style lang="scss"></style>