<template>
  <div>
    <div class="card-container info-card-container" v-if="$store.state.info">
      <div class="card-content">
        <TrimmedCardTitle :value="$store.state.info" :index="0"></TrimmedCardTitle>
        <TrimmedCardDesc :value="$store.state.info" :index="0"></TrimmedCardDesc>
      </div>
      <!--
        <router-link v-if="$route.fullPath !== '/'" :to="{ path: $route.fullPath + '/info'}" class="cc-title">
            <div class="card-content">
                <TrimmedCardTitle :value="$store.state.info" :index="0"></TrimmedCardTitle>
                <TrimmedCardDesc :value="$store.state.info" :index="0"></TrimmedCardDesc>
            </div>
        </router-link>
        <router-link v-else :to="{ path: '/info'}" class="cc-title">
            <div class="card-content">
                <TrimmedCardTitle :value="$store.state.info" :index="0"></TrimmedCardTitle>
                <TrimmedCardDesc :value="$store.state.info" :index="0"></TrimmedCardDesc>
            </div>
        </router-link>
      -->
      <div class="update-container" style="height:41px;background:none;">
        <div class="progress-container"></div>
        <div class="fav-expand-container">
          <div class="fav-expand-components">
            <div class="expand-link"></div>
          </div>
        </div>
        <div class="badge-container"></div>
      </div>
    </div>
    <div v-for="(value, index) in this.arr" :key="index" class="card-container">
      <div v-if="selected.indexOf(index) !== -1">
        <div class="card-content">
          <router-link
            v-if="$route.fullPath !== '/'"
            :to="{ path: $route.fullPath + '/project/' + value.url }"
            class="cc-title"
            :class="index"
            v-on:click.native="getproject(index)"
          >
            <TrimmedCardTitle :value="value" :index="index"></TrimmedCardTitle>
          </router-link>
          <router-link
            v-else
            :to="{ path: '/project/' + value.url }"
            :class="index"
            class="cc-title"
            v-on:click.native="getproject(index)"
          >
            <TrimmedCardTitle :value="value" :index="index"></TrimmedCardTitle>
          </router-link>
          <TrimmedCardDesc :value="value" :index="index"></TrimmedCardDesc>
        </div>
        <div class="update-container">
          <div class="progress-container">
            <MiniD3 :value="value" :index="index"></MiniD3>
          </div>
          <div class="fav-expand-container">
            <div class="fav-expand-components">
              <div class="expand-link">
                <router-link
                  v-if="$route.fullPath !== '/'"
                  :to="{ path: $route.fullPath + '/project/' + value.url }"
                  :class="index"
                  v-on:click.native="getproject(index)"
                >
                  <img
                    title="The Getty"
                    alt="The Getty"
                    :src="require('@/assets/icon_view_unselected.svg')"
                  />
                </router-link>
                <router-link
                  v-else
                  :to="{ path: '/project/' + value.url }"
                  :class="index"
                  v-on:click.native="getproject(index)"
                >
                  <img
                    title="The Getty"
                    alt="The Getty"
                    :src="require('@/assets/icon_view_unselected.svg')"
                  />
                </router-link>
              </div>
            </div>
          </div>
          <div class="badge-container">
            <img
              v-if="value.acf.flag === 'new'"
              title="The Getty"
              alt="The Getty"
              class="flag-component"
              data-flag="new"
              :src="require('@/assets/flag_new.svg')"
            />
            <img
              v-if="value.acf.flag === 'updated'"
              title="The Getty"
              alt="The Getty"
              class="flag-component"
              data-flag="updated"
              :src="require('@/assets/flag_updated.svg')"
            />
            <img
              v-if="value.acf.flag === 'launched'"
              title="The Getty"
              alt="The Getty"
              class="flag-component"
              data-flag="launched"
              :src="require('@/assets/flag_launched.svg')"
            />
          </div>
        </div>
      </div>
      <div v-else :class="{ 'hide': !toggleImage }">
        <div class="card-content">
          <router-link
            v-if="$route.fullPath !== '/'"
            :to="{ path: $route.fullPath + '/project/' + value.url }"
            class="cc-title"
            :class="index"
            v-on:click.native="getproject(index)"
          >
            <TrimmedCardTitle :value="value" :index="index"></TrimmedCardTitle>
          </router-link>
          <router-link
            v-else
            :to="{ path: '/project/' + value.url }"
            :class="index"
            class="cc-title"
            v-on:click.native="getproject(index)"
          >
            <TrimmedCardTitle :value="value" :index="index"></TrimmedCardTitle>
          </router-link>
          <TrimmedCardDesc :value="value" :index="index"></TrimmedCardDesc>
        </div>
        <div class="update-container">
          <div class="progress-container">
            <MiniD3 :value="value" :index="index"></MiniD3>
          </div>
          <div class="fav-expand-container">
            <div class="fav-expand-components">
              <div class="expand-link">
                <router-link
                  v-if="$route.fullPath !== '/'"
                  :to="{ path: $route.fullPath + '/project/' + value.url }"
                  :class="index"
                  v-on:click.native="getproject(index)"
                >
                  <img
                    title="The Getty"
                    alt="The Getty"
                    :src="require('@/assets/icon_view_unselected.svg')"
                  />
                </router-link>
                <router-link
                  v-else
                  :to="{ path: '/project/' + value.url }"
                  :class="index"
                  v-on:click.native="getproject(index)"
                >
                  <img
                    title="The Getty"
                    alt="The Getty"
                    :src="require('@/assets/icon_view_unselected.svg')"
                  />
                </router-link>
              </div>
            </div>
          </div>
          <div class="badge-container">
            <img
              v-if="value.acf.flag === 'new'"
              title="The Getty"
              alt="The Getty"
              class="flag-component"
              data-flag="new"
              :src="require('@/assets/flag_new.svg')"
            />
            <img
              v-if="value.acf.flag === 'updated'"
              title="The Getty"
              alt="The Getty"
              class="flag-component"
              data-flag="updated"
              :src="require('@/assets/flag_updated.svg')"
            />
            <img
              v-if="value.acf.flag === 'launched'"
              title="The Getty"
              alt="The Getty"
              class="flag-component"
              data-flag="launched"
              :src="require('@/assets/flag_launched.svg')"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../store";

export default {
  name: "Card",
  props: {
    arr: {},
    value: {
      default: null,
      type: String
    },
    index: {
      default: null,
      type: Number
    },
    toggleImage: {
      default: Boolean
    }
  },
  data() {
    return {
      selected: store.getters.isfaved,
      hide: false
    };
  },
  methods: {
    addRemove(value) {
      store.dispatch("faved", value);
    },
    getproject(index) {
      for (var i = this.$store.state.site.length - 1; i >= 0; i--) {
        if (i === index) {
          store.dispatch("LOAD_PROJECT", this.$store.state.site[i]);
          return this.$store.state.site[i];
        }
      }
    }
  },
  mounted() {
    // console.log(this.$store.state.site['info'])
  },
  watch: {
    /*"this.toggleImage": function(val) {
      // console.log(val)
    }*/
  }
};
</script>


<style type="text/css" scoped>
.hide {
  display: none;
}

.info-card-container {
  max-height: 204px;
}
</style>
