<template>
  <transition
    class="view animated"
    :name="this.$store.state.transition"
    mode="out-in"
    v-on:after-enter="afterEnter"
    appear
  >
    <main role="main">
      <div class="container-background-image animated" id="bkg-img-detail"></div>
      <!-- DETAIL VIEW STATE -->
      <section
        class="detail-container animate-detail pt-page-current"
        data-view="0"
        id="detail-view"
      >
        <!-- MAIN -->
        <DetailContent :arr="this.arr"></DetailContent>
        <!-- MAIN -->
      </section>
      <!-- DETAIL VIEW STATE -->
    </main>
  </transition>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Detail",
  props: {
    arr: {
      default: ["arr"]
    }
  },
  computed: {
    loaded() {
      return this.$store.state.loaded;
    },
    ...mapGetters({
      load: "loading"
    })
  },
  watch: {
    /*     load: function (val) {
      // console.log(val)
    } */
  },
  data() {
    return {};
  },
  methods: {}
};
</script>



<style type="text/css">
#load-component {
}

.fadein {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  z-index: 1 !important;
  -webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 0.5s; /* Firefox < 16 */
  -ms-animation: fadeout 0.5s; /* Internet Explorer */
  -o-animation: fadeout 0.5s; /* Opera < 12.1 */
  animation: fadeout 0.5s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
</style>


