<template>
  <div>
    <!-- HEADER -->
    <div v-if="this.currentIndex !== ''" class="header-container" id="main-nav-container-detail">
      <div class="logo-container">
        <router-link
          v-if="$route.params.list"
          :to="{ path: '/' + $route.params.list }"
          title="The Getty"
          alt="The Getty"
        >
          <img
            class="logo"
            title="The Getty"
            alt="The Getty"
            :src="require('@/assets/getty_wordmark.svg')"
          />
        </router-link>
        <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty">
          <img
            class="logo"
            title="The Getty"
            alt="The Getty"
            :src="require('@/assets/getty_wordmark.svg')"
          />
        </router-link>
      </div>
      <div class="title-container">
        <router-link
          v-if="$route.fullPath !== '/'"
          :to="{ path: decrement(Number(this.$route.params.id))  }"
          v-on:click.native="nextSlide()"
          id="mobile-prev"
          data="p"
          class="mobile-prev-next prev"
          replace
        >
          <img
            class
            title="Previous Project"
            alt="Previous Project"
            :src="require('@/assets/caret_back_small.svg')"
          />
        </router-link>
        <router-link
          v-else
          :to="{ path: '/project/' + decrement(Number(this.$route.params.id))  }"
          v-on:click.native="nextSlide()"
          id="mobile-prev"
          data="n"
          class="mobile-prev-next prev"
          replace
        >
          <img
            class
            title="Previous Project"
            alt="Previous Project"
            :src="require('@/assets/caret_back_small.svg')"
          />
        </router-link>
        <p
          class="title-content"
          id="main-nav-title-detail"
          v-html="this.getTitle(this.$route.params.id)"
        ></p>
        <router-link
          v-if="$route.fullPath !== '/'"
          :to="{ path: increment(Number(this.$route.params.id)) }"
          id="mobile-next"
          data="n"
          class="mobile-prev-next next"
          v-on:click.native="prevSlide()"
          title="Next Getty Digital Projects"
          alt="Next Getty Digital Projects"
          replace
        >
          <img
            class
            title="Next Project"
            alt="Next Project"
            :src="require('@/assets/caret_next_small.svg')"
          />
        </router-link>
        <router-link
          v-else
          :to="{ path: '/project/' + increment(Number(this.$route.params.id)) }"
          id="mobile-next"
          data="n"
          class="mobile-prev-next next"
          v-on:click.native="prevSlide()"
          title="Next Getty Digital Projects"
          alt="Next Getty Digital Projects"
          replace
        >
          <img
            class
            title="Next Project"
            alt="Next Project"
            :src="require('@/assets/caret_next_small.svg')"
          />
        </router-link>
        <!-- <p class="title-content"><span>20</span> Projects</p> -->
      </div>
      <router-link
        v-if="$route.params.list"
        :to="{ path: '/' + $route.params.list }"
        title
        alt
        class="nav"
      ></router-link>
      <router-link v-else :to="{ path: '/' }" title alt class="nav"></router-link>
      <div class="nav-container" id="secondary-nav-container-detail">
        <nav class="mdl-navigation" style="display:block;">
          <router-link
            v-if="$route.params.list"
            :to="{ path: '/' + $route.params.list }"
            title="The Getty"
            alt="The Getty"
            style="padding: 0;"
          >
            <img title="The Getty" alt="The Getty" :src="require('@/assets/button_close.svg')" />
          </router-link>
          <router-link
            v-else
            :to="{ path: '/' }"
            title="The Getty"
            alt="The Getty"
            style="padding: 0;"
          >
            <img title="The Getty" alt="The Getty" :src="require('@/assets/button_close.svg')" />
          </router-link>
        </nav>
      </div>
    </div>

    <div v-else class="header-container" id="main-nav-container-detail">
      <div class="logo-container">
        <router-link
          v-if="$route.params.list"
          :to="{ path: '/' + $route.params.list }"
          title="The Getty"
          alt="The Getty"
        >
          <img
            class="logo"
            title="The Getty"
            alt="The Getty"
            :src="require('@/assets/getty_wordmark.svg')"
          />
        </router-link>
        <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty">
          <img
            class="logo"
            title="The Getty"
            alt="The Getty"
            :src="require('@/assets/getty_wordmark.svg')"
          />
        </router-link>
      </div>
      <router-link
        v-if="$route.params.list"
        :to="{ path: '/' + $route.params.list }"
        title
        alt
        class="nav"
      ></router-link>
      <router-link v-else :to="{ path: '/' }" title alt class="nav"></router-link>
      <div class="nav-container" id="secondary-nav-container-detail">
        <nav class="mdl-navigation" style="display:block;">
          <router-link
            v-if="$route.params.list"
            :to="{ path: '/' + $route.params.list }"
            title="The Getty"
            alt="The Getty"
            style="padding: 0;"
          >
            <img title="The Getty" alt="The Getty" :src="require('@/assets/button_close.svg')" />
          </router-link>
          <router-link
            v-else
            :to="{ path: '/' }"
            title="The Getty"
            alt="The Getty"
            style="padding: 0;"
          >
            <img title="The Getty" alt="The Getty" :src="require('@/assets/button_close.svg')" />
          </router-link>
        </nav>
      </div>
    </div>
    <!-- HEADER -->

    <div v-if="this.currentIndex !== ''" class="articleContWrap">
      <div id="articleContA" class="pt-page-current">
        <swiper :options="swiperOption" ref="mySwiper">
          <swiper-slide v-for="(value,index) in this.arr" :key="index">
            <article
              class="image-preload article-container detail-article-container pt-page-current"
            >
              <UpperContent :value="value" :index="index"></UpperContent>
              <Alert :value="value" :index="index"></Alert>
              <LowerContent :value="value" :index="index"></LowerContent>
              <div class="pad-btm">&nbsp;</div>
            </article>
          </swiper-slide>
        </swiper>
      </div>
    </div>

    <div v-else class="articleContWrap">
      <div id="articleContA" class="pt-page-current">
        <article
          :style="{ 'background-image': 'url(' + require('@/assets/image002.png') + ')' }"
          class="image-preload article-container detail-article-container pt-page-current"
        >
          <div class="not-found">
            <h3>This project is not available.</h3>
            <router-link
              v-if="$route.params.list"
              :to="{ path: '/' + $route.params.list }"
              title="The Getty"
              alt="The Getty"
              style="padding: 0;"
            >
              <h3>Click back to dashboard.</h3>
            </router-link>
            <router-link
              v-else
              :to="{ path: '/' }"
              title="The Getty"
              alt="The Getty"
              style="padding: 0;"
            >
              <h3>Click back to dashboard.</h3>
            </router-link>
          </div>
          <div class="pad-btm">&nbsp;</div>
        </article>
      </div>
    </div>

    <!-- PAGER -->
    <div v-if="this.currentIndex !== ''" id="detail-pager">
      <div class="pager-wrap">
        <router-link
          v-if="$route.fullPath !== '/'"
          :to="{ path: decrement(Number(this.$route.params.id))  }"
          v-on:click.native="nextSlide()"
          id="detail-pager-prev"
          class="prev"
          title="Previous Getty Digital Projects"
          alt="Previous Getty Digital Projects"
          replace
        >
          <img
            :src="require('@/assets/prev_button.svg')"
            title="Getty Digital Projects"
            alt="Getty Digital Projects"
          />
        </router-link>
        <router-link
          v-else
          :to="{ path: '/project/' + decrement(Number(this.$route.params.id))  }"
          v-on:click.native="nextSlide()"
          id="detail-pager-prev"
          class="prev"
          title="Previous Getty Digital Projects"
          alt="Previous Getty Digital Projects"
          replace
        >
          <img
            :src="require('@/assets/prev_button.svg')"
            title="Getty Digital Projects"
            alt="Getty Digital Projects"
          />
        </router-link>
        <router-link
          v-if="$route.fullPath !== '/'"
          :to="{ path: increment(Number(this.$route.params.id)) }"
          id="detail-pager-next"
          class="next"
          v-on:click.native="prevSlide()"
          title="Next Getty Digital Projects"
          alt="Next Getty Digital Projects"
          replace
        >
          <img
            :src="require('@/assets/next_button.svg')"
            title="Getty Digital Projects"
            alt="Getty Digital Projects"
          />
        </router-link>
        <router-link
          v-else
          :to="{ path: '/project/' + increment(Number(this.$route.params.id)) }"
          id="detail-pager-next"
          class="next"
          v-on:click.native="prevSlide()"
          title="Next Getty Digital Projects"
          alt="Next Getty Digital Projects"
          replace
        >
          <img
            :src="require('@/assets/next_button.svg')"
            title="Getty Digital Projects"
            alt="Getty Digital Projects"
          />
        </router-link>
      </div>
    </div>
    <!-- PAGER -->
  </div>
</template>

<script>
import store from "../store";
import { mapGetters } from "vuex";
// require styles
import "swiper/dist/css/swiper.css";

import { swiper, swiperSlide } from "vue-awesome-swiper";

export default {
  name: "DetailContent",
  components: {
    swiper,
    swiperSlide
  },
  props: {
    arr: {
      default: ["arr"]
    },
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null
    }
  },
  data() {
    return {
      isEmpty: true,
      currentIndex: this.getIndex(this.$route.params.id),
      toggleImage: store.getters.favButton,
      selected: store.getters.isfaved,
      transitionName: "slide-left",
      url: this.$route.params.id,
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 0,
        // loop: true,
        loopFillGroupWithBlank: true,
        allowTouchMove: false,
        preloadImages: true,
        navigation: {
          nextEl: ".next",
          prevEl: ".prev"
        }
      }
    };
  },
  computed: {
    getCurrIndex: function() {
      let url = this.url;
      let index = "";
      this.arr.filter(function(project) {
        if (project.url === url) {
          index = project.index;
        }
      });
      return index;
    },
    swiper() {
      // console.log(this.$refs.mySwiper)
      return this.$refs.mySwiper !== undefined
        ? this.$refs.mySwiper.swiper
        : "";
    },
    loaded() {
      return this.$store.state.loaded;
    },
    ...mapGetters({
      load: "loading"
    })
  },
  methods: {
    showFavs() {
      if (this.selected.length <= 0) {
        this.isEmpty = !this.isEmpty;
      }
      this.toggleImage = !this.toggleImage;
    },
    getTitle(url) {
      let title = "";
      this.arr.filter(function(project) {
        if (project.url === url) {
          title = project.title.rendered;
        }
      });
      return title;
    },
    getURL: function(index) {
      let url = "";
      this.arr.filter(function(project) {
        if (project.index === index) {
          url = project.url;
        }
      });
      return url;
    },
    getIndex(params) {
      let index = "";
      this.arr.filter(function(project) {
        if (project.url === params) {
          index = project.index;
        }
      });
      // console.log(params, index)
      return index;
    },
    nextSlide() {
      // console.log(this.$refs.carousel)
      // this.swiper.slideTo(Number(this.$route.params.id))
      // this.swiper.slideNext()
      // this.$refs.carousel.goToPage(this.$refs.carousel.getNextPage())
    },
    prevSlide() {
      // this.swiper.slidePrev()
      // this.swiper.slideTo(Number(this.$route.params.id))
      // this.$refs.carousel.goToPage(this.$refs.carousel.getPreviousPage())
    },
    increment(index) {
      index = this.getIndex(this.$route.params.id);
      if (index < this.arr.length - 1) {
        index++;
      }
      let url = this.getURL(index);
      return url;
    },
    decrement(index) {
      index = this.getIndex(this.$route.params.id);
      if (index > 0) {
        index--;
      }
      let url = this.getURL(index);
      return url;
    }
  },
  watch: {
    load: function(val) {
      // console.log(this.getCurrIndex)
      // this.swiper.slideToLoop(this.getCurrIndex, 0, true)
      if (!val) {
        // console.log(this.getCurrIndex)
      }
    },
    $route: function(newRoute) {
      this.getTitle(newRoute.params.id);
    }
  },
  created() {},
  mounted() {
    // this.swiper.slideToLoop(this.getCurrIndex, 0, true)
    // console.log(this.swiper !== undefined)
    if (
      this.swiper !== undefined &&
      this.swiper !== null &&
      this.swiper !== ""
    ) {
      this.swiper.slideToLoop(this.getCurrIndex, 0, true);
    }
  }
};
</script>

<style type="text/css" scoped>
.header-container .nav-container nav {
  cursor: pointer;
}
</style>
