<template>
  <span>
    <div
      v-if="this.nodata !== true"
      ref="arc"
      class="d3-progress-meter"
      :id="'d3-draw-container-' + index"
    ></div>
    <div v-else ref="arc" class="d3-progress-meter"></div>
  </span>
</template>

<script>
import * as d3 from "d3";

export default {
  name: "DetailD3",
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    }
  },
  data() {
    return {
      nodata: false
    };
  },
  methods: {
    responsivefy(svg) {
      let container = d3.select(this.$refs.arcs);
      let width = parseInt(svg.style("width"));
      let height = parseInt(svg.style("height"));
      let aspect = width / height;
      svg
        .attr("viewBox", "0 0 " + width + " " + height)
        .attr("perserveAspectRatio", "xMinYMid")
        .call(resize);
      d3.select(window).on("resize." + container.attr(this.$refs.arcs), resize);
      function resize() {
        let targetWidth = parseInt(container.style("width"));
        svg.attr("width", targetWidth);
        svg.attr("height", Math.round(targetWidth / aspect));
      }
    },
    treatAsUTC(date) {
      const result = new Date(date);
      result.setMinutes(result.getMinutes() - result.getTimezoneOffset());
      return result;
    },
    projectTime(startDate, endDate, completedDate, percent) {
      let percentComplete = 0;
      let percentIncomplete = 0;
      let percentOver = 0;

      if (percent) {
        percentComplete = percent;
        percentIncomplete = 100 - percentComplete;
        percentOver = percentComplete - 100;
        if (percentIncomplete < 0) {
          percentIncomplete = 0;
        }
        if (percentComplete > 100) {
          if (completedDate !== "") {
            if (percentOver < 0) {
              percentComplete = 100;
            }
          }
        }
        if (percentOver < 0) {
          percentOver = 0;
        }
      } else if (completedDate) {
        let millisecondsPerDay = 24 * 60 * 60 * 1000;
        let todaysDate = this.treatAsUTC(new Date());
        if (completedDate.length > 0) {
          todaysDate = this.treatAsUTC(completedDate);
        }
        let totalTime =
          (this.treatAsUTC(endDate) - this.treatAsUTC(startDate)) /
          millisecondsPerDay;
        let elapsedTime =
          (todaysDate - this.treatAsUTC(startDate)) / millisecondsPerDay;
        percentComplete = (elapsedTime / totalTime) * 100;
        percentIncomplete = 100 - percentComplete;
        percentOver = percentComplete - 100;
        if (percentIncomplete < 0) {
          percentIncomplete = 0;
        }
        if (percentComplete > 100) {
          if (completedDate !== "") {
            if (percentOver < 0) {
              percentComplete = 100;
            }
          }
        }
        if (percentOver < 0) {
          percentOver = 0;
        }
      } else {
        this.nodata = true;
      }
      let dataset = [];
      dataset = [
        {
          name: "completed",
          percent: percentComplete
        },
        {
          name: "incomplete",
          percent: percentIncomplete
        },
        {
          name: "over",
          percent: percentOver
        },
        {
          name: "project_complete",
          percent: completedDate
        }
      ];
      return dataset;
    },
    svg(start, launch, complete, percent) {
      if ((start && launch) || percent) {
        let tau = 2 * Math.PI;
        let dataset1 = this.projectTime(start, launch, complete, percent);
        let percentCompleteTxt = dataset1[0].percent;
        if (dataset1[0].percent > 100) {
          dataset1[0].percent = tau;
        } else {
          dataset1[0].percent = dataset1[0].percent * 0.01 * tau;
        }
        let w = 125;
        let h = 125;
        let outerRadius = w / 2.5 + 1;
        let innerRadius = 110 / 2.5;
        let arc = d3.svg
          .arc()
          .outerRadius(outerRadius)
          .innerRadius(innerRadius);
        let svg = d3.select(this.$refs.arc).append("svg");
        svg.attr({
          width: w,
          height: h
        });
        svg
          .attr("viewBox", "0 0 " + w + " " + h)
          .attr("perserveAspectRatio", "xMinYMid");
        let g = svg
          .append("g")
          .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")");
        let background = g
          .append("path")
          .data({
            endAngle: tau
          })
          .style("fill", "#cccccc");
        let foregroundComplete = g
          .append("path")
          .data([
            {
              endAngle: dataset1[0].percent
            }
          ])
          .style("fill", "#5C92C0");
        let foregroundOver = g
          .append("path")
          .data([
            {
              endAngle: dataset1[2].percent * 0.01 * tau
            }
          ])
          .style("fill", "#f44336");
        background
          .transition()
          .duration(1000)
          .attrTween("d", function(d) {
            let interpolate = d3.interpolate(
              {
                startAngle: 0,
                endAngle: 0
              },
              d
            );
            return function(t) {
              return arc(interpolate(t));
            };
          });
        foregroundComplete
          .transition()
          .duration(1000)
          .attrTween("d", function(d) {
            let interpolate = d3.interpolate(
              {
                startAngle: 0,
                endAngle: 0
              },
              d
            );
            return function(t) {
              return arc(interpolate(t));
            };
          });
        foregroundOver
          .transition()
          .duration(1000)
          .attrTween("d", function(d) {
            let interpolate = d3.interpolate(
              {
                startAngle: 0,
                endAngle: 0
              },
              d
            );
            return function(t) {
              return arc(interpolate(t));
            };
          });
        let restOfTheData = function() {
          g.append("text")
            .transition()
            .duration(200)
            .attr("dy", ".4em")
            .attr("text-anchor", "middle")
            .text(Math.round(percentCompleteTxt) + "%")
            .style({
              fill: "#5C92C0",
              "font-size": "24px",
              opacity: "1"
            });
        };
        setTimeout(restOfTheData, 1000);
      }
    }
  },
  mounted() {
    this.svg(
      this.value.acf.start_date,
      this.value.acf.launch_date,
      null,
      Number(this.value.acf.percent_complete)
    );
  }
};
</script>



<style lang="scss" scoped></style>





