<template>
  <transition class="view animated" :name="this.$store.state.transition" mode="out-in" appear>
    <main role="main">
      <!-- GRID VIEW STATE -->
      <section
        class="container grid-container animated pt-page-current"
        data-view="1"
        id="grid-view"
        style
        v-cloak
      >
        <div
          class="container-background-image"
          id="bkg-img-grid"
          v-bind:style="{ backgroundImage: 'url(' + require('@/assets/image001.jpg') + ')'}"
        ></div>
        <!-- HEADER -->

        <!-- Notifications -->
        <div
          id="notification-menu"
          :class="{ 'active': this.$store.state.showNotifications }"
          data-vis="false"
        >
          <div id="nav-alert-header" href="#">
            <img
              title="The Getty"
              alt="The Getty"
              :src="require('@/assets/icon_alert_med_gray.svg')"
            />
            <span>Notifications</span>
          </div>
          <ul id="n-menu">
            <li v-for="(value, index) in this.arr" :key="index">
              <span v-if="value.acf.flag">
                <router-link
                  v-if="$route.fullPath !== '/'"
                  :to="{ path: $route.fullPath + '/project/' + value.url }"
                  class="notification-menu-link"
                >
                  <span
                    v-if="value.acf.flag === 'new'"
                    class="notification-flag flag-new"
                    data-flag="new"
                  >new</span>
                  <span
                    v-else-if="value.acf.flag === 'launched'"
                    class="notification-flag flag-launched"
                    data-flag="new"
                  >launched</span>
                  <span
                    v-else-if="value.acf.flag === 'updated'"
                    class="notification-flag flag-updated"
                    data-flag="new"
                  >updated</span>
                  <span class="notification-project-title">{{value.title.rendered}}</span>
                </router-link>
                <router-link
                  v-else
                  :to="{ path: '/project/' + value.url }"
                  class="notification-menu-link"
                >
                  <span
                    v-if="value.acf.flag === 'new'"
                    class="notification-flag flag-new"
                    data-flag="new"
                  >new</span>
                  <span
                    v-else-if="value.acf.flag === 'launched'"
                    class="notification-flag flag-launched"
                    data-flag="new"
                  >launched</span>
                  <span
                    v-else-if="value.acf.flag === 'updated'"
                    class="notification-flag flag-updated"
                    data-flag="new"
                  >updated</span>
                  <span class="notification-project-title">{{value.title.rendered}}</span>
                </router-link>
              </span>
            </li>
          </ul>
        </div>
        <!-- Notifications -->

        <div class="header-container" id="main-nav-container-grid">
          <div class="logo-container">
            <router-link
              v-if="$route.params.list"
              :to="{ path: '/' + $route.params.list }"
              title="The Getty"
              alt="The Getty"
            >
              <img
                class="logo"
                title="The Getty"
                alt="The Getty"
                :src="require('@/assets/getty_wordmark.svg')"
              />
            </router-link>
            <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty">
              <img
                class="logo"
                title="The Getty"
                alt="The Getty"
                :src="require('@/assets/getty_wordmark.svg')"
              />
            </router-link>
          </div>
          <div class="title-container">
            <!-- <p class="title-content"><span>{{this.$store.state.site.length}}</span> Projects</p> -->
            <p class="title-content">Getty Digital Communications Dashboard</p>
          </div>
          <a href="#" title alt class="nav"></a>
          <div class="nav-container" id="secondary-nav-container-grid">
            <a
              class="nav mdl-badge mdl-badge--overlap"
              id="mobile-nav"
              :data-badge="getFlags"
              title
              alt
              v-on:click.prevent="showNotifications()"
            >
              <span></span>
              <span></span>
              <span></span>
            </a>
            <nav class="mdl-navigation">
              <a
                id="nav-alert"
                class="mdl-navigation__link bell mdl-badge mdl-badge--overlap"
                :data-badge="getFlags"
                href
                title="The Getty"
                alt="The Getty"
                v-on:click.prevent="showNotifications()"
              >
                <img
                  title="The Getty"
                  alt="The Getty"
                  :src="require('@/assets/icon_alert_med_gray.svg')"
                />
              </a>
            </nav>
          </div>
        </div>
        <!-- HEADER -->
        <!-- MAIN -->
        <div class="article-container type-system-geometric grid-article-container">
          <ProjectInfo></ProjectInfo>
          <Card :arr="this.arr" :toggleImage="toggleImage"></Card>
        </div>
        <!-- MAIN -->
        <!-- GRADIENT -->
        <div class="glass-lower"></div>
        <!-- GRADIENT -->
      </section>
      <!-- GRID VIEW STATE -->
    </main>
  </transition>
</template>

<script>
import store from "../store";

export default {
  name: "Grid",
  data() {
    return {
      isEmpty: true,
      toggleImage: store.getters.favButton,
      selected: store.getters.isfaved
    };
  },
  props: {
    arr: {
      default: ["arr"]
    }
  },
  computed: {
    getFlags() {
      let flagsAmnt = 0;
      this.$store.state.site.filter(function(project) {
        if (project.acf.flag !== "") {
          flagsAmnt++;
        }
      });
      return flagsAmnt;
    }
  },
  methods: {
    showFavs() {
      if (this.selected.length <= 0) {
        this.isEmpty = !this.isEmpty;
      }
      this.toggleImage = !this.toggleImage;
      // console.log(this.toggleImage)
    },
    showNotifications() {
      this.$store.commit(
        this.$store.state.showNotifications
          ? "CLOSE_NOTIFICATIONS"
          : "OPEN_NOTIFICATIONS"
      );
    }
  },
  created() {}
};
</script>


<style lang="scss" scoped>
/* Grid scss */

#mobile-nav {
  cursor: pointer;
}

.hide {
  display: none;
}

.view {
  // transition: none !important
}
</style>


