<template>
<main role="main" class="">
    <div class="container-background-image animate" id="bkg-img-detail"></div>
    <Grid/>
</main>

</template>

<script>
/* import axios from 'axios' */

export default {
  name: 'Index',
  data () {
    return {
      arr: []
    }
  },
  methods: {
    get (params) {
      /*
      const uri = this.$route.params.id
      return axios.get(`http://localhost:8080/aat/` + uri + `.json`)
      .then((res) => {
        console.log(res.data)
        this.arr = res.data
      })
      */
    }
  },
  created () {
    this.get()
  }
}
</script>

<style lang="scss" scoped>
@import "bourbon";
@import "neat";


$article: (
  columns: 12,
  gutter: 2rem
);

$article-phone: (
  columns: 12,
  gutter: 2rem,
  media: "(max-width: 768px)",
);

#main {

    header {
      padding-left:2rem;
    }

    article {
      @include grid-container;
    }

    section {
      @include grid-column(8, $article);

      @include grid-media($article-phone) {
          @include grid-column(12, $article);
      }
    }

    aside {
      @include grid-column(4, $article);
      
      @include grid-media($article-phone) {
          @include grid-column(12, $article);
      }
    }

}


</style>





