<template>
  <transition
    class="view animated"
    :name="this.$store.state.transition"
    mode="out-in"
    v-on:after-enter="afterEnter"
    appear
  >
    <div class="header-container" id="main-nav-container-detail">
      <div class="full-background-wrap">
        <div class="inner-full-background-wrap">
          <!-- <img :src="require('@/assets/key_art_Getty_Center.jpg')"/> -->
        </div>
      </div>
      <div
        style="margin-top: 51px;"
        class="container-background-image"
        id="bkg-img-grid"
        v-bind:style="{ backgroundImage: 'url(' + require('@/assets/image001.jpg') + ')'}"
      ></div>
      <div class="logo-container">
        <router-link
          v-if="$route.params.list"
          :to="{ path: '/' + $route.params.list }"
          title="The Getty"
          alt="The Getty"
        >
          <img
            class="logo"
            title="The Getty"
            alt="The Getty"
            :src="require('@/assets/getty_wordmark.svg')"
          />
        </router-link>
        <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty">
          <img
            class="logo"
            title="The Getty"
            alt="The Getty"
            :src="require('@/assets/getty_wordmark.svg')"
          />
        </router-link>
      </div>
      <section class="grid-container">
        <div class="title-container">
          <!-- <p class="title-content"><span>{{this.$store.state.site.length}}</span> Projects</p> -->
          <p class="title-content">Getty Digital Communications Dashboard</p>
        </div>
      </section>
      <!--
            <router-link v-if="$route.params.list" :to="{ path: '/' + $route.params.list }" title="" alt="" class="nav"></router-link>
            <router-link v-else :to="{ path: '/' }" title="" alt="" class="nav"></router-link>
      -->
      <div class="nav-container" id="secondary-nav-container-detail">
        <nav class="mdl-navigation" style="display:block;">
          <!--
                    <router-link v-if="$route.params.list" :to="{ path: '/' + $route.params.list }" title="The Getty" alt="The Getty" style="padding: 0;">
                        <img title="The Getty" alt="The Getty" :src="require('@/assets/button_close.svg')" />
                    </router-link>
                    <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty" style="padding: 0;">
                        <img title="The Getty" alt="The Getty" :src="require('@/assets/button_close.svg')" />
                    </router-link>
          -->
        </nav>
      </div>
      <div v-if="this.value !== null" class="m-container">
        <section class="grid-container" v-if="this.value !== null">
          <h1>{{this.value.title.rendered}}</h1>
        </section>
        <section
          class="grid-container"
          v-if="this.value !== null"
          v-html="this.value.content.rendered"
        ></section>
        <div class="padd-bottom"></div>
      </div>
      <div v-else class="articleContWrap">
        <div id="articleContA" class="pt-page-current">
          <article
            :style="{ 'background-image': 'url(' + require('@/assets/image002.png') + ')' }"
            class="image-preload article-container detail-article-container pt-page-current"
          >
            <div class="not-found">
              <h3>404 Page Not Found</h3>
              <!--
                        <router-link v-if="$route.params.list" :to="{ path: '/' + $route.params.list }" title="The Getty" alt="The Getty" style="padding: 0;">
                            <h3>Click back to dashboard.</h3>
                        </router-link>
                        <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty" style="padding: 0;">
                            <h3>Click back to dashboard.</h3>
                        </router-link>
              -->
            </div>
          </article>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import store from "../store";

export default {
  name: "InfoCard",
  props: {
    arr: {
      default: ["arr"]
    }
  },
  data: function() {
    return {
      value: null
    };
  },
  methods: {
    getPage() {
      if (store.state.basicPages.length > 0) {
        store.state.basicPages.filter(p => {
          if (p.slug === this.$route.params.id) {
            this.value = p;
            return p;
          }
        });
      }
    }
  },
  created() {
    this.getPage();
  },
  mounted() {
    // console.log(this.$route)
  }
};
</script>

<style lang="css">
@media (max-width: 767px) {
  .m-container > section > p > img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}
</style>

<style lang="scss" scoped>
.full-background-wrap {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100% - 51px);
  margin-top: 51px;
  .inner-full-background-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.m-container {
  position: absolute;
  margin-top: -2px;
  height: 100vh;
  padding-top: 50px;
  width: calc(100% - 40px);
  margin-left: 40px;
  padding-right: 40px;
  overflow-y: auto;
  .padd-bottom {
    width: 100%;
    height: 200px;
  }
  img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}
@media (min-width: 767px) {
  .m-container {
    position: absolute;
    margin-top: 0;
    height: 100vh;
    padding-top: 50px;
    width: calc(100% - 200px);
    margin-left: 200px;
    padding-right: 200px;
    overflow-y: auto;
  }
}
@media (min-width: 1439px) {
  .m-container {
    position: absolute;
    /* margin-top: 50px; */
    height: 100vh;
    padding-top: 50px;
    width: calc(100% - 400px);
    margin-left: 400px;
    padding-right: 400px;
    overflow-y: auto;
  }
}
</style>


