<template>
  <div></div>
</template>

<script>
export default {
  name: "Load",
  data() {
    return {
      arr: []
    };
  },
  methods: {},
  created() {}
};
</script>

<style lang="scss" scoped></style>