<template>
  <div class="lower-info-container">
    <Timeline :value="value"></Timeline>
    <ul style="display:none;">
      <li class="milestones-container">
        <a href="#" class="expand-lower-content" v-on:click.prevent="show()">
          <span>Milestones</span>
          <img
            v-if="!this.open"
            title="The Getty"
            alt="The Getty"
            :src="require('@/assets/button_more_small.svg')"
          />
          <img
            v-else
            title="The Getty"
            alt="The Getty"
            :src="require('@/assets/button_more_small_close.svg')"
          />
        </a>
        <div
          class="lower-content-container"
          :class="{ 'slide-out' : this.open,  'hide' : !this.open }"
          style="overflow-y: hidden;"
          :style="{ maxHeight : this.height + 'px' }"
        >
          <div class="pad-wrap" ref="content">
            <span v-html="value.acf.milestones"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>


<script>
export default {
  name: "LowerContent",
  data() {
    return {
      open: false,
      clientHeight: null,
      height: null
    };
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    }
  },
  computed: {
    content() {
      return this.$refs.content;
    }
  },
  methods: {
    show() {
      if (!this.open) {
        this.height = this.clientHeight;
      } else {
        this.height = 0;
      }
      this.open = !this.open;
    }
  },
  mounted() {
    this.show();
    this.height = this.$refs.content.clientHeight;
    this.clientHeight = this.$refs.content.clientHeight;
  }
};
</script>


<style lang="scss" scoped>
.lower-info-container ul li .lower-content-container {
  max-height: initial;
}
.lower-info-container-image {
  width: 50%;
  float: left;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.85);
}
</style>