<template>
  <div>
    <div class="text-overflow-container" style="overflow-y: hidden;" :style="{ height : this.height + 'px' }" ref="team"> 
      <div class="project-lead" id="project-lead"> 
        <span>Lead: 
        </span> 
        <span id="project-lead-details" class="project-lead-details">{{value.gsx$teamlead.$t}}
        </span> 
      </div>
      <div v-if="value.gsx$teammembers.$t !== 'Not yet set'" class="project-team" id="project-team"> 
        <span>Team: 
        </span>
        <ul class="project-team-details" id="project-team-details" v-html="pipchange">
        </ul>
      </div>
    </div>
    <a v-if="value.gsx$teammembers.$t !== 'Not yet set'" class="down-arrow extend" title="The Getty" alt="The Getty" href="#" v-on:click.prevent="showcontent()">
      <img v-if="!this.open" title="The Getty" alt="The Getty" :src="require('@/assets/button_more_small.svg')">
      <img v-else title="The Getty" alt="The Getty" :src="require('@/assets/button_more_small_close.svg')">
    </a>
  </div>
</template>


<script>
export default {
  name: 'ProjectTeam',
  data () {
    return {
      hide: true,
      height: null,
      clientHeight: null,
      open: false
    }
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    },
    trim: {
      default: 85.19,
      type: Number
    },
    word: {
      default: '',
      type: String
    }
  },
  computed: {
    pipchange () {
      let team = this.value.gsx$teammembers.$t
      let teamArr = ''
      team = team.split('|')
      for (let t = 0; t < team.length; t++) {
        teamArr += '<li>' + team[t] + '</li>'
      }
      return teamArr
    }
  },
  methods: {
    getheight (ref) {
      console.log(ref.clientHeight)
      this.clientHeight = ref.clientHeight
      if (ref.clientHeight > this.trim) {
        this.height = this.trim
      } else {
        this.height = ref.clientHeight
      }
    },
    showcontent () {
      if (!this.open) {
        this.height = this.clientHeight
      } else {
        this.height = this.trim
      }
      this.open = !this.open
    }
  },
  mounted () {
    console.log(this.trim)
    this.getheight(this.$refs.team)
    const ref = this.$refs.team
    window.addEventListener('resize', function () {
      if (ref.clientHeight > this.trim) {
        this.height = this.trim
      } else {
        this.height = ref.clientHeight
      }
    })
  }
}
</script>

<style lang="scss"></style>
