<template>
    <transition class="view animated" :name="this.$store.state.transition" mode="out-in" v-on:after-enter="afterEnter" appear>
      <div class="header-container" id="main-nav-container-detail" >
        <div class="full-background-wrap">
            <div class="inner-full-background-wrap">
              <!-- <img :src="require('@/assets/key_art_Getty_Center.jpg')"/> -->
            </div>
        </div>
            <div style="margin-top: 51px;" class="container-background-image" id="bkg-img-grid" v-bind:style="{ backgroundImage: 'url(' + require('@/assets/image001.jpg') + ')'}"></div>
            <div class="logo-container">
              <router-link v-if="$route.params.list" :to="{ path: '/' + $route.params.list }" title="The Getty" alt="The Getty">
               <img class="logo" title="The Getty" alt="The Getty" :src="require('@/assets/getty_wordmark.svg')" />
              </router-link>
              <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty">
                <img class="logo" title="The Getty" alt="The Getty" :src="require('@/assets/getty_wordmark.svg')" />
              </router-link>
            </div>
            <router-link v-if="$route.params.list" :to="{ path: '/' + $route.params.list }" title="" alt="" class="nav"></router-link>
            <router-link v-else :to="{ path: '/' }" title="" alt="" class="nav"></router-link>
            <div class="nav-container" id="secondary-nav-container-detail">
                <nav class="mdl-navigation" style="display:block;">
                    <router-link v-if="$route.params.list" :to="{ path: '/' + $route.params.list }" title="The Getty" alt="The Getty" style="padding: 0;">
                        <img title="The Getty" alt="The Getty" :src="require('@/assets/button_close.svg')" />
                    </router-link>
                    <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty" style="padding: 0;">
                        <img title="The Getty" alt="The Getty" :src="require('@/assets/button_close.svg')" />
                    </router-link>
                </nav>
            </div>
        <div class="articleContWrap">
            <div id="articleContA" class="pt-page-current">
              <article :style="{ 'background-image': 'url(' + require('@/assets/image002.png') + ')' }" class="image-preload article-container detail-article-container pt-page-current">
                <div class="not-found">
                  <h3>404 Page Not Found</h3>
                    <router-link v-if="$route.params.list" :to="{ path: '/' + $route.params.list }" title="The Getty" alt="The Getty" style="padding: 0;">
                        <h3>Click back to dashboard.</h3>
                    </router-link>
                    <router-link v-else :to="{ path: '/' }" title="The Getty" alt="The Getty" style="padding: 0;">
                        <h3>Click back to dashboard.</h3>
                    </router-link>
                </div>
              </article>
            </div>
        </div>
        </div>
    </transition>
</template>

<script>
export default {
  name: 'PageNotFound',
  props: {
    arr: {
      default: ['arr']
    }
  },
  mounted () {
    // alert('404')
  }
}
</script>

<style type="text/css" scoped>
.header-container .nav-container nav {
 cursor: pointer;
}
</style>
