<template>
<div class="info-container detail" v-if="this.$store.state.info !== undefined"> 
	<div class="info-content-container"> 
		<div class="info-content">
            <span v-html="this.info"></span>
		</div>
			<!--
			<a id="dismiss-0" class="desktop-alert" title="The Getty" alt="The Getty" href="#">Dismiss</a> 
			<a id="dismiss-bars-0" class="animated mobile-alert" title="The Getty" alt="The Getty" href="#" style="touch-action: none; -moz-user-select: none;"> 
				<span></span>
				<span></span> 
			</a> 
		-->
		</div>
</div>	
</template>

<script>
export default {
  name: 'ProjectInfo',
  data () {
    return {
      info: this.$store.state.info !== undefined ? this.$store.state.info.acf.list_description : ''
    }
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    }
  },
  methods: {},
  created () {},
  mounted () {
    // console.log(this.$refs.mySwiper)
  }
}
</script>

<style lang="scss" scoped>
.info-container {
    .info-content-container {
        padding: 0.5em 2em 2em 2em;
        .info-content {
            h3 {

            }
        }
    }
}
</style>