<template>
  <div>

    <div v-if="value.acf.team_members !== false  && this.teamHeight" class="text-overflow-container" style="overflow-y: hidden;" :style="{ height : this.height + 'px' }" ref="team"> 

      <div class="project-lead" id="project-lead" v-if="value.acf.team_lead !== ''"> 
        <span id="project-lead-details" class="project-lead-details">{{value.acf.team_lead}}</span> 
      </div>

      <div class="project-team" id="project-team" ref="teamContainer"> 
        <ul class="project-team-details" id="project-team-details" v-html="pipechange" ref="teamlist"></ul>
      </div>

    </div>

    <div v-else-if="value.acf.team_members !== false " class="text-overflow-container" ref="team"> 

      <div class="project-lead" id="project-lead" v-if="value.acf.team_lead !== ''"> 
        <span id="project-lead-details" class="project-lead-details">{{value.acf.team_lead}}</span> 
      </div>

      <div class="project-team" id="project-team" ref="teamContainer"> 
        <ul class="project-team-details" id="project-team-details" v-html="pipechange" ref="teamlist"></ul>
      </div>

    </div>

    <div v-else class="text-overflow-container"> 
      <div class="project-lead" id="project-lead"> 
        <span id="project-lead-details" class="project-lead-details">{{value.acf.team_lead}}</span> 
      </div>
    </div>

    <a v-if="value.acf.team_members !== false  && this.teamHeight" class="down-arrow extend" title="The Getty" alt="The Getty" href="#" v-on:click.prevent="showcontent()">
      <img v-if="!this.open" title="The Getty" alt="The Getty" :src="require('@/assets/button_more_small.svg')">
      <img v-else title="The Getty" alt="The Getty" :src="require('@/assets/button_more_small_close.svg')">
    </a>

  </div>
</template>


<script>
export default {
  name: 'ProjectTeam',
  data () {
    return {
      hide: false,
      height: null,
      clientHeight: null,
      open: false,
      teamHeight: false
    }
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    },
    trim: {
      default: 85.19,
      type: Number
    },
    word: {
      default: '',
      type: String
    }
  },
  computed: {
    pipechange () {
      let teamArr = ''
      if (this.value.acf.team_members) {
        let team = this.value.acf.team_members
        // team = team.split('|')
        for (let t = 0; t < team.length; t++) {
          teamArr += '<li>' + team[t].member + '</li>'
        }
      }
      return teamArr
    },
    team () {
      return this.$refs.team
    },
    teamContainer () {
      return this.$refs.teamContainer
    }
  },
  methods: {
    getheight () {
      if (this.team !== undefined) {
        this.clientHeight = this.team.clientHeight
        if (this.team.clientHeight > this.trim) {
          this.height = this.trim
        } else {
          this.height = this.team.clientHeight
        }
        // console.log(this.height, this.team.clientHeight, this.trim)
      }
    },
    showcontent () {
      if (!this.open) {
        this.height = this.clientHeight
      } else {
        this.height = this.trim
      }
      this.open = !this.open
    },
    checkteam () {
      if (this.teamContainer !== undefined) {
        if (this.teamContainer.offsetHeight > 44) {
          this.teamHeight = true
          return true
        }
      }
    }
  },
  mounted () {
    // console.log(this.$refs.teamContainer)
    this.getheight()
    this.checkteam()
    // window.addEventListener('resize', this.getheight)
  }
}
</script>

<style lang="scss"></style>
