<template>
  <div class="project-info-container check-size col-4">
    <div
      v-if="this.totalHeight >= this.div"
      class="text-overflow-container"
      style="overflow-y: hidden;"
      :style="{ height : this.height }"
      ref="text"
    >
      <h3 class="project-info-title" ref="header">Description</h3>
      <p v-html="value.content.rendered" ref="desc"></p>
    </div>
    <div v-else class="text-overflow-container" ref="text">
      <h3 class="project-info-title" ref="header">Description</h3>
      <p v-html="value.content.rendered" ref="desc"></p>
    </div>
    <a
      v-if="this.totalHeight >= this.div"
      class="down-arrow extend"
      title="The Getty"
      alt="The Getty"
      href="#"
      v-on:click.prevent="showcontent()"
    >
      <img
        v-if="!this.open"
        title="The Getty"
        alt="The Getty"
        :src="require('@/assets/button_more_small.svg')"
      />
      <img
        v-else
        title="The Getty"
        alt="The Getty"
        :src="require('@/assets/button_more_small_close.svg')"
      />
    </a>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "ShowMore",
  data() {
    return {
      height: null,
      clientHeight: null,
      open: false,
      totalHeight: null
    };
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    },
    trim: {
      default: 122,
      type: Number
    },
    div: {
      default: 192,
      type: Number
    }
  },
  computed: {
    text() {
      return this.$refs.text;
    },
    header() {
      return this.$refs.header;
    },
    desc() {
      return this.$refs.desc;
    }
  },
  beforeDestroy: function() {
    window.removeEventListener("resize", this.getheight);
  },
  methods: {
    getheight() {
      this.totalHeight =
        this.header.offsetHeight + this.desc.offsetHeight + 45.5;
      this.clientHeight = this.text.offsetHeight;
      this.height = this.trim + "px";
    },
    showcontent() {
      if (!this.open) {
        this.height = this.totalHeight + "px";
      } else {
        this.height = this.trim + "px";
      }
      this.open = !this.open;
    }
  },
  mounted() {
    this.getheight();
    window.addEventListener("resize", _.debounce(() => this.getheight(), 100));
  }
};
</script>

<style lang="scss"></style>
