<template>
<div class="col-6">
  <div
    v-if="value.better_featured_image !== null"
    :style="{ 'background-image': 'url(' + this.value.better_featured_image.source_url + ')' }"
    class="hasImage"
  >
  </div>
  <div
    v-else
    :style="{ 'background-image': 'url(' + require('@/assets/image002.png') + ')' }"
    class="noImage"
  >
  </div>  
</div>
</template>

<script>
export default {
  name: 'Timeline',
  data () {
    return {
      arr: []
    }
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    }
  },
  methods: {},
  created () {}
}
</script>

<style lang="scss" scoped>
.hasImage {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 56.7%;
}
</style>