<template>
  <div>
    <p
      v-if="value.type === 'project'"
      ref="desc"
      v-html="$options.filters.trim(this.desc, divWidth/3.95)"
    ></p>
    <p v-else ref="desc" v-html="$options.filters.trim(this.desc, divWidth/1.95)"></p>
  </div>
</template>

<script>
export default {
  name: "TrimmedCardDesc",
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    },
    desc: {
      default: function() {
        return this.value.acf.short_description !== undefined
          ? this.value.acf.short_description
          : this.value.content.rendered;
      },
      type: String
    }
  },
  data() {
    return {
      divWidth: 0
    };
  },
  methods: {
    handleWindowResize() {
      this.divWidth = this.$refs.desc.clientWidth;
    }
  },
  beforeDestroy: function() {
    window.removeEventListener("resize", this.handleWindowResize);
  },
  filters: {
    truncate: function(text, stop, clamp) {
      return text.slice(0, stop) + (stop < text.length ? clamp || "..." : "");
    },
    trim: function(text, stop, clamp) {
      let trimmedString = text.substr(0, stop);
      trimmedString = trimmedString.substr(
        0,
        Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))
      );
      return trimmedString + (stop < text.length ? clamp || " ..." : "");
    }
  },
  mounted() {
    this.divWidth = this.$refs.desc.clientWidth;
    window.addEventListener("resize", this.handleWindowResize);
  }
};
</script>

<style type="text/css" scoped>
div {
  height: 60px;
}
</style>
