<template>
  <div>
    <h3
      ref="title"
      class="lrg-btm-margin clamp-t"
      style="float: none; position: static;"
      v-html="$options.filters.trim(value.title.rendered, this.divWidth/7)"
    ></h3>
  </div>
</template>

<script>
export default {
  name: "TrimmedCardTitle",
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    }
  },
  data() {
    return {
      divWidth: 0
    };
  },
  computed: {
    title() {
      return this.$refs.title;
    }
  },
  methods: {
    handleWindowResize() {
      this.divWidth = this.$refs.title.clientWidth;
    }
  },
  beforeDestroy: function() {
    window.removeEventListener("resize", this.handleWindowResize);
  },
  filters: {
    truncate: function(text, stop, clamp) {
      return text.slice(0, stop) + (stop < text.length ? clamp || "..." : "");
    },
    trim: function(text, stop, clamp) {
      if (text.length > 35) {
        let trimmedString = text.substr(0, stop);
        trimmedString = trimmedString.substr(
          0,
          Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))
        );
        return trimmedString + (stop < text.length ? clamp || " ..." : "");
      } else {
        return text;
      }
    }
  },
  mounted() {
    this.divWidth = this.$refs.title.clientWidth;
    window.addEventListener("resize", this.handleWindowResize);
  }
};
</script>

<style type="text/css" scoped>
div {
  height: 60px;
}
</style>
