<template>
  <div class="progress-info-container col-4 upcoming-activities">
    <h3>Upcoming Activities:</h3>

    <div
      v-if="this.totalHeight >= this.div"
      class="text-overflow-container"
      style="overflow-y: hidden;"
      :style="{ height : this.height }"
      ref="text"
    >
      <ul ref="activity" v-if="this.value.acf.upcoming_activities !== undefined">
        <li
          v-for="(value,index) in this.value.acf.upcoming_activities"
          :key="index"
        >{{value.activity}}</li>
      </ul>
    </div>

    <div v-else class="text-overflow-container" ref="text">
      <ul ref="activity" v-if="this.value.acf.upcoming_activities !== undefined">
        <li
          v-for="(value,index) in this.value.acf.upcoming_activities"
          :key="index"
        >{{value.activity}}</li>
      </ul>
    </div>

    <a
      v-if="this.totalHeight >= this.div"
      class="down-arrow extend"
      title="The Getty"
      alt="The Getty"
      href="#"
      v-on:click.prevent="showcontent()"
    >
      <img
        v-if="!this.open"
        title="The Getty"
        alt="The Getty"
        :src="require('@/assets/button_more_small.svg')"
      />
      <img
        v-else
        title="The Getty"
        alt="The Getty"
        :src="require('@/assets/button_more_small_close.svg')"
      />
    </a>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "UpcomingActivities",
  data() {
    return {
      height: null,
      clientHeight: null,
      open: false,
      totalHeight: null
    };
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    },
    trim: {
      default: 72,
      type: Number
    },
    div: {
      default: 192,
      type: Number
    }
  },
  computed: {
    text() {
      return this.$refs.text;
    },
    activity() {
      return this.$refs.activity;
    }
  },
  beforeDestroy: function() {
    window.removeEventListener("resize", this.getheight);
  },
  methods: {
    getheight() {
      if (this.activity !== undefined) {
        let activity =
          this.activity.offsetHeight !== 0 ? this.activity.offsetHeight : 73;
        this.totalHeight = activity + 40;
        this.clientHeight = this.text.offsetHeight;
        this.height = this.trim + "px";
      }
    },
    showcontent() {
      if (!this.open) {
        this.height = this.totalHeight + "px";
      } else {
        this.height = this.trim + "px";
      }
      this.open = !this.open;
    }
  },
  mounted() {
    this.getheight();
    window.addEventListener("resize", _.debounce(() => this.getheight(), 100));
  }
};
</script>

<style lang="scss">
</style>