<template>
  <div class="upper-info-container">
    <ShowMore :value="value" :index="index" :trim="109" :div="180"></ShowMore>

    <RecentActivities :value="value"></RecentActivities>

    <UpcomingActivities :value="value"></UpcomingActivities>

    <div class="project-details-container check-size-team col-4">
      <h3 class="project-info-title">Team:
      </h3>
      <ProjectTeam :value="value" :index="index" :trim="80">
      </ProjectTeam>
    </div>
  </div>
</template>


<script>
// import moment from 'moment'

export default {
  name: 'UpperContent',
  data () {
    return {}
  },
  props: {
    value: {
      default: null,
      type: Object
    },
    index: {
      default: null,
      type: Number
    }
  },
  computed: {
    start () {
      return this.value.acf.start_date !== '' ? this.value.acf.start_date : ''
      // return this.value.acf.start_date !== '' ? moment(this.value.acf.start_date).format('MM/DD/YYYY') : ''
    },
    launch () {
      return this.value.acf.launch_date !== '' ? this.value.acf.launch_date : ''
      // return this.value.acf.launch_date !== '' ? moment(this.value.acf.launch_date).format('MM/DD/YYYY') : ''
    }
  },
  methods: {},
  mounted () {}
}
</script>

<style lang="scss"></style>
